:root {
    --primary-color: rgb(33, 81, 112);
    --text-color: #303030;
    --highlight-color: #303030;
    --primary-bg-color: #ffffff;
    --alt-bg-color: #e8e9e9;
    --secondary-bg-color: #dde9eb;
    --scrollbar-color: rgba(33, 81, 112, 0.5);
    --color-white: #ffffff;
    --color-green: #1beb85;
    --color-blue: #7098b2;
    --color-danger: #ff0000;
    --color-overlay: rgba(15,40,68,.4);
    --primary-shadow: 0 0 4px rgba(0,0,0,.1),0 4px 12px rgba(0,0,0,.1);
    --main-transition: 0.2s;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    background-color: var(--primary-bg-color);
    height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    margin-left: 2px;
}

body::-webkit-scrollbar-track {
    background-color: var(--alt-bg-color);
  }

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 6px;
    -webkit-transition: background-color 2s;
    transition: background-color 2s;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cambria', Arial, sans-serif;
    font-weight: bold;
    Margin: 0 0 10px 0;
}

h1 {
    background-color: var(--primary-color);
    color: var(--color-white);
    font-size: 48px;
    line-height: 58px;
    padding: 10px;
}

h2 {
    font-size: 36px;
    line-height: 38px;
    color: var(--text-color);
}

h3 {
    font-size: 30px;
    line-height: 32px;
    color: var(--primary-color);
}

h4 {
    font-size: 24px;
    line-height: 26px;
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    display: inline-block;
    padding: 4px;
    cursor: default;
}

a[href] {
    cursor: pointer;
    outline: none;
}

a[href]:hover,
a[href]:focus {
    background-color: var(--primary-color);
    color: var(--color-white);
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

*.hidden.hidden {
    display: none;
}

.page-section {
    margin-top: 80px;
}

.button {
    font-size: 20px;
    cursor: pointer;
    border: 3px solid var(--primary-color);
    background-color: var(--color-white);
    color: var(--primary-color);
    transition: all var(--main-transition);
    padding-inline: 24px;
    text-decoration: none;
}

.button:hover,
a[href].button:hover,
.button:focus,
a[href].button:focus {
    font-weight: normal;
    background-color: var(--primary-color);
    color: var(--color-white);
    transition: all var(--main-transition);
}