.header-cover {
    display: grid;
    grid-template-columns: 80px auto 200px;
    padding: 20px 0;
}

.level-one-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 6px;
    height: 100%;
    align-items: center;
}

.level-one-item {
    position: relative;
}

.level-two-list {
    display: none;
    position: absolute;
    background-color: var(--primary-bg-color);
    box-shadow: var(--primary-shadow);
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.level-one-item:hover .level-two-list,
.level-one-item:focus-within .level-two-list {
    display: block;
    z-index: 1;
}

.level-two-item {
    font-size: 16px;
    line-height: 22px;
}

.nav-link {
    padding: 4px;
    display: block;
    white-space: nowrap;
}

.page-search {
    display: flex;
    align-items: center;
}

.search-input {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}